@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 75%;

    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --success: 142.1 76.2% 36.3%;
    --success-foreground: 355.7 100% 97.3%;

    --border: 240 4% 26%;
    --input: 240 4% 26%;
    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 217.2 91.2% 49.8%;
    --primary-foreground: 210 40% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --success: 142.1 76.2% 36.3%;
    --success-foreground: 355.7 100% 97.3%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.1% 14.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-foreground;
  }
  p {
    @apply text-foreground/90;
  }
  .text-primary-content {
    @apply text-foreground;
  }
  .text-secondary-content {
    @apply text-foreground/90;
  }
  .text-subtle {
    @apply text-foreground/70;
  }
  .text-muted-content {
    @apply text-foreground/60;
  }
}

/* Style de base pour les cartes */
.card {
  @apply bg-card text-card-foreground rounded-xl border-0;
  box-shadow:
    0 0 0 1px rgba(var(--card-border-rgb, 30, 41, 59), 0.1),
    0 2px 5px 0 rgba(0, 0, 0, 0.05);
}

/* Style pour les boutons */
.btn {
  @apply rounded-lg font-medium transition-all duration-200;
}
