TZ=UTC
PORT=8081
HOST=0.0.0.0
LOG_LEVEL=debug
APP_KEY=QU3bPZtVbBgV3Hjl5YSazM_UCp505C_x
NODE_ENV=development
SESSION_DRIVER=cookie

# Base de données PostgreSQL
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=blueskybluesky
DB_PASSWORD=blueskybluesky
DB_DATABASE=blueskybluesky

REDIS_PASSWORD= 
QUEUE_REDIS_HOST=127.0.0.1
QUEUE_REDIS_PORT=6379
QUEUE_REDIS_PASSWORD=
REDIS_HOST=localhost
REDIS_PORT=6379

# Clé API pour l'authentification du service Python
INTERNAL_API_KEY=python-service-api-key-2025